<h1> Shop Smart, Save Big</h1>

<% layout('boilerplate') %>

<p>Starting to Create Something more Unique</p>

<p>Singup to start Buying</p>

<h3>Start Your Search Here</h3>

<p>Our Prices are some of the best on the Web !</p>

<h3>Looking for Smart Items?</h3>
<p>These will appear as suggestions across the site as you add to your cart</p>

<h3>Build a smart cart</h3>
<p>The more items you buy together, the more you save :)</p>