<% layout('layout') %>

<div class="jumbotron" id="jumbotron-margin-top">
	<div class="container">
		<h1> Shop Smart, Save Big</h1>
		<p>Starting to Create Something more Unique</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up &raquo;</a></p>
	</div>
</div>
<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
			<h3>Start Your Search Here</h3>
			<p>Sing Up to start Buying</p>
		</div>
		<div class="col-md-4">
			<h3>Looking for Smart Items?</h3>
			<p>These will appear as suggestions across the site as you add to your cart</p>
		</div>
		<div class="col-md-4">
			<h3>Build a smart cart</h3>
			<p>The more items you buy together, the more you save :)</p>
		</div>
	</div>